.form {
  margin: 10px;
  margin-top: 0px;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(132, 74, 199);
}

.input {
  border: 1px solid transparent;
  margin: 3px;
  padding: 5px;
  border-radius: 2px;
}

.input::placeholder{
  color: rgb(213, 181, 255)
}

.input:hover {
  border: 1px rgb(162, 0, 255) solid;
}

.input:focus {
  outline: unset;
}